.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2px;
  border-radius: 8px;
  width: 100%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}
.title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #bbb; /* Lighter grey text for the description */
  text-align: center;
}

.form {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: bold;
}

.input, .textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #ddd; /* Dark grey background for inputs */
  color: black;
}

.textarea {
  min-height: 120px;
  resize: vertical;
  white-space: pre-wrap;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.uploadLabel {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.dropzone {
  width: 100%;
  padding: 2rem;
  border: 2px dashed #444;
  border-radius: 8px;
  text-align: center;
  background-color: #222; /* Even darker grey for the dropzone */
  color: #888;
  cursor: pointer;
}

.button {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #555; /* Medium grey button */
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #666;
}

.fileInput {
  padding: 0.8rem;
  background-color: #333; /* Dark grey for file input */
  color: white;
  border: none;
  border-radius: 8px;
}

.submitContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  padding: 1rem 2rem;
  background-color: #444; /* Medium grey for submit button */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #555;
}
